Grid {
    layout: grid;
    grid-size: 1 5;
    grid-rows: 1fr;
    grid-columns: 1fr;
    grid-gutter: 1;
}

Static {
    color: auto;
    background: lightblue;
    height: 100%;
    padding: 1 2;
}

#static1 {
    tint: magenta 40%;
    row-span: 4;
    column-span: 1;
}

#static2 {
    tint: magenta 40%;
    row-span: 1;
    column-span: 1;
}



MainMenu {
    layout: horizontal;
    background: $boost;
    height: 8;
    margin: 1;
    min-width: 50;
    padding: 1;
    align: center middle;

}

TimeDisplay {
    content-align: center middle;
    text-opacity: 60%;
    height: 3;
}

Button {
    width: auto;
}

#start {
    dock: left;
}

#stop {
    dock: left;
    display: none;
}

#reset {
    dock: left;
}

.started {
    text-style: bold;
    background: $success;
    color: $text;
}

.started TimeDisplay {
    text-opacity: 100%;
}

.started #start {
    display: none
}

.started #stop {
    display: block
}

.started #reset {
    visibility: hidden
}
